
:root {
  --main-bg-color: #222831;
  --secondary-bg-color: #393E46;
  --accent-color: #00ADB5;
  --text-color: #EEEEEE;
}

body {
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

.app-container {
  display: flex;             /* Align sidebar and main content side-by-side */
  width: 100vw;              /* Fill full viewport width */
  height: 100vh;             /* Fill full viewport height */
  overflow:auto;          /* Prevents the whole page from scrolling */
}
